{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-12 col-xs-8 col-md-8 col-lg-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3>{% trans "Log in" %}</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
             <a href="{% url 'password_reset' %}" class="btn btn-link">{% trans "Forgotten your password?" %}</a>
              <a href="{% url 'accounts:register' %}" class="btn btn-link">{% trans "Registration" %}</a>
              <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
          </form>

      </div>
    </div>
  <div class="col-12">

    </div>
  <div class="col-12">

  </div>
      </div>
  </div>
{% endblock %}