{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1>{% trans "Reset your password" %}</h1>
    {% if validlink %}
        <p>{% trans "Please enter your new password twice:" %}</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><button type="submit" class='btn btn-block btn-info'>Change my password"/></button>
        </form>
    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset." %}</p>
    {% endif %}
     </div>
</div>
{% endblock %}