{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class='col-12 col-xs-12 col-md-8 col-md-8 mx-auto'>
    <h3>{% trans "Change you password" %}</h3>
    <p>{% trans "Use the form below to change your password." %}</p>
    <form method='post' action=''>
        {% csrf_token %}
        {{ form|crispy }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-primary'>{% trans "Change" %}</button>
    </form>
</div>
</div>
{% endblock %}
