{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class='row'>

        <div class='col-12 col-xs-6 col-md-4 col-md-4'>

                    <div class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                    	    {% load thumbnail %}
                            {% thumbnail product.image "300" as im %}
                                <img src="{{ im.url }}"  class="d-block w-100">
                            {% endthumbnail %}
                        </div>
                      </div>
                    </div>
        </div>
        <div class='col-12 col-xs-6 col-md-8 col-md-8 mt-2'>

                    <h5>{{ product.name }}</h5>
                    <a href="{{ product.category.get_absolute_url }}"><p class="text-muted">{{ product.category }}</p></a>
                    <p class="price">{{ product.price }} {% trans "rub" %}</p>
                    <p>{{ product.description|linebreaks }}</p>


                        <form class="form-inline" action="{% url 'cart:cart_add' product.id %}" method="post">
                            {{ cart_product_form }}
                            <button type='submit'  class='btn btn-sm btn-success ml-2'>{% trans 'Add to cart' %}</button>
                            {% csrf_token %}
                        </form>


            </div>
        </div>
    </div>
{% endblock %}