{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div>
                <h3>{% trans "Categories" %}</h3>
                <ul>
                    <li {% if not category %}class="selected" {% endif %}>
                        <a href="{% url 'shop:product_list' %}">{% trans "All" %}</a>
                    </li>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}</h1>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div  class="col-lg-4 col-sm-6">
                        <div>
                            {% load thumbnail %}
                            {% thumbnail product.image "300" as im %}
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ im.url }}" class="image-detail">
                            </a>
                            {% endthumbnail %}
                            <br/>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            {{ product.price }} {% trans "rub" %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mg-12">
                    <div>
                        {% include "../pagination.html" with page=products %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>


{% endblock %}