{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}
{% block content %}


  <div class="nav-scroller py-1 mb-2 sticky-top bg-white">
    <nav class="nav d-flex">
          <a class="p-2 {% if category %} text-muted{% else %} text-dark font-weight-bold{% endif %}" href="{% url 'shop:product_list' %}">{% trans "All" %}</a>
            {% for c in categories %}
                <a class="p-2 {% if category.slug != c.slug %} text-muted{% else %} text-dark font-weight-bold{% endif %}" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endfor %}
    </nav>
  </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10">
            <div class="row">
            {% for product in products %}
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="card border-0">
                            {% load thumbnail %}
                            {% thumbnail product.image "300" as im %}
                            <a class="card-img-hover" href="{{ product.get_absolute_url }}">
                                <img class="card-img-top" src="{{ im.url }}" alt="{{ product.name }}">
                            </a>

                            {% endthumbnail %}
                            <br>
                            <div class="card-body">
                                <div class="card-title font-weight-bold"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></div>
                                <a class="card-text font-weight-bold text-muted" href="{{ product.get_absolute_url }}">{{ product.price }} {% trans "rub" %}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}