{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}{% trans "My shop" %}{% endblock %}
    </title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static '/css/sticky-footer-navbar.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
{% include 'shop/navbar.html' %}
      <div class='container'>
        {% if messages %}
      <div class="alert alert-success messages">
          {% for message in messages %}
          <span>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}<br/>
          </span>
          {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
<form id="csrf_token">{% csrf_token %}</form>
</main>
<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/scripts.js' %}"></script>
</body>
</html>