{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}{% trans "My shop" %}{% endblock %}
    </title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static '/css/sticky-footer-navbar.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
<div class="d-flex flex-column h-100">
    <header>
        {% include 'shop/navbar.html' %}
    </header>
</div>
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<!-- Begin page content -->
<main role="main" class="container">
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <form id="csrf_token">{% csrf_token %}</form>
</main>
<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/scripts.js' %}"></script>
</body>
</html>