{% load i18n %}


    <nav aria-label="...">
        <ul class="pagination">
            {% for i in page.paginator.page_range %}
                {% ifequal i page.number %}
                     <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"  href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endifequal %}
            {% endfor %}

        </ul>
    </nav>


